<!--<?xml version="1.0" encoding="UTF8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.wzj.mapper.UserMapper">-->
<!--    &lt;!&ndash;    查询操作&ndash;&gt;-->

<!--&lt;!&ndash;    插入操作&ndash;&gt;-->

<!--&lt;!&ndash;    修改操作&ndash;&gt;-->

<!--&lt;!&ndash;    删除操作&ndash;&gt;-->

<!--    &lt;!&ndash;    查询操作&ndash;&gt;-->
<!--&lt;!&ndash;sql语句抽取&ndash;&gt;-->
<!--    <sql id="selectUser ">select *from user </sql>-->

<!--    <select id="fand" resultType="user" parameterType="user">-->
<!--        select * from user-->
<!--        <where>-->
<!--        <if test="id!=0">-->
<!--            and id=#{id}-->
<!--        </if>-->
<!--        <if test="username!=null">-->
<!--            and username=#{username}-->
<!--        </if>-->
<!--        <if test="password!=0">-->
<!--        and password=#{password}-->
<!--        </if>-->
<!--        </where>-->
<!--    </select>-->
<!--    <select id="findids" resultType="com.wzj.domain.User" parameterType="list">-->
<!--        <include refid="selectUser "></include>-->
<!--        <where>-->
<!--            <foreach collection="list" open="id in(" close=")" item="id" separator=",">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--        </where>-->
<!--    </select>-->
<!--</mapper>-->