<component name="ArtifactManager">
  <artifact type="war" name="spring13mybatismapper:war">
    <output-path>$PROJECT_DIR$/spring13mybatismapper/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring13mybatismapper</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring13mybatismapper-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring13mybatismapper:war exploded" />
    </root>
  </artifact>
</component>