<component name="ArtifactManager">
  <artifact type="war" name="spring11mybatis:war">
    <output-path>$PROJECT_DIR$/spring11mybatis/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring11mybatis</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring11.mybatis-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring11mybatis:war exploded" />
    </root>
  </artifact>
</component>